.container {
    background-image: url('/images/map.svg');
    width: 428px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: -1px;
}

.location {
    display: flex;
    flex-direction: row;
    font-size: 11px;
    padding: 5px 0px 0px 10px
}

.location p {
    color: white;
    padding: 0px 0px 0px 5px;
}

.button {
    background-color: rgba(0, 0, 0, 0.4);
    width: 195px;
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.content {
    color: white;
    font-size: 11px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding: 0px 0px 20px 0px;
}