.desktopContainer {
  background-color: black;
  width: 281px;
  height: 400px;
  padding: 16px 6px 0px 6px;
}

.desktopBackground {
  width: 281px;
  height: 340px;
  background-image: url("/images/miniBackgroundDesktop.svg");
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.desktopBackground img {
  height: 259px;
}

.timer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px;
}

.timer p {
  color: grey;
  font-size: 13px;
  padding-left: 10px;
  margin: 0px;
  padding-top: 3px;
}

.desktopPieceName {
  font-size: 13px;
  color: white;
  padding-top: 14px;
}

.desktopArtist {
  font-size: 13px;
  color: grey;
  padding-top: 4px;
}

.desktopDistance {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 13px;
  align-items: center;
  color: #42ff60;
  padding-top: 4px;
}

.desktopDistance img {
  width: 10px;
  height: 10px;
}

.desktopDistance p {
  margin: 0px;
  padding-left: 3px;
}

.price {
  color: white;
  font-size: 13px;
  padding-top: 20px;
}

.pieceInfo {
  height: 46px;
}
