.container {
  background-color: black;
  font-size: 13px;
  width: 234px;
  height: 45px;
  border-radius: 30px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-family: "Helvetica-Monospaced";
}

.address {
  color: #42ff60;
  padding-left: 5px;
  padding-right: 5px;
}