/* MOBILE */

.container {
  background-color: black;
  width: 100%;
  max-width: 430px;
  height: 565px;
  display: flex;
  flex-direction: column;
  margin: -1px;
  margin-top: 16px;
}

.piece {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0px 0px 80px;
  /* border-right-color: grey ;
    border-right-width: 1px;
    border-right-style: solid; */
}

.drop {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 88px;
}

.drop img {
  width: 61px;
  height: 176px;
}

.drop p {
  color: white;
  padding: 12px 16px 12px 16px;
  margin: 0px 0px 0px 0px;
  font-size: 10px;
}

.topHalf {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 450px;
  max-width: 430px;
}

.bottomHalf {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-top: -10px;
}

.name {
  border-bottom: var(--line);
  width: 95%;
  height: 38px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 10px;
  margin-bottom: 2px;
}

.price {
  border-bottom: var(--line);
  width: 95%;
  height: 38px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 10px;
  margin-bottom: 2px;
}

.timer {
  border-bottom: var(--line);
  width: 95%;
  height: 38px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 10px;
  margin-bottom: 2px;
}

.address {
  width: 95%;
  height: 38px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 10px;
  margin-bottom: 2px;
}

.nameTitle {
  color: grey;
}

.priceTitle {
  color: grey;
}

.timerTitle {
  color: grey;
}

.addressTitle {
  color: grey;
}

.addressLink {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.addressLink img {
  width: 16px;
  height: 16px;
  padding-left: 2px;
}


/* DESKTOP */

.desktopContainer {
  background-color: black;
  width: 93%;
  max-width: 1440px;
  min-width: 800px;
  height: 814px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.desktopLeftContent {
  width: 430px;
  height: 750px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10px;
}

.desktopDisplayTitle {
  padding-bottom: 32px;
}

.desktopInfo {
  color: white;
  font-size: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: var(--line);
  width: 419px;
  height: 39px;
}

.desktopLeftText {
  color: grey;
}

.desktopRightContent {
  /* margin-left: 100px; */
  width: 60%;
  height: 815px;
  background-image: url("/images/desktopDisplayBackground.svg");
  display: flex;
  flex-direction: row;
  padding-left: 15px;
}

.desktopPiece {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  /* padding-left: 103px; */
  padding-top: 45px;
  background-color: black;
}

.desktopPieceInfo {
  width: 103px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.desktopPieceInfo p {
  color: white;
  font-size: 10px;
}

.desktopDropImage {
  width: 103px;
}

.desktopRotation {
  padding-top: 300px;
  width: 24px;
}

.desktopPiecePlacement {
  width: 450px;
}