.connectedContainer {
  max-width: 400px;
  height: 32px;
  background-color: black;
  font-size: 11px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 20px 10px 20px;
  border-radius: 30px;
  border: none;
  font-family: Helvetica-Monospaced, monospaced;
  cursor: pointer;
}

.connectedAs {
  color: white;
  width: 80px;
}

.address {
  color: #42ff60;
  padding-left: 6px;
  padding-right: 6px;
}

.stack {
  width: 16px;
}

.click {
  background-color: white;
  width: 136px;
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
