.container {
  height: 235px;
  overflow: hidden;
}

.mapContainer {
  width: 430px;
  height: 264px;
}

.position {
  color: white;
  width: 195px;
  height: 32px;
  font-size: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-top: 190px;
  margin-left: 16px;
  z-index: 100;
}

.position img {
  width: 16px;
}

.positionContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 150px;
}

.navigate {
  color: white;
  width: 195px;
  height: 32px;
  font-size: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-top: 190px;
  margin-left: 217px;
  z-index: 100;
}

.navigate img {
    padding-left: 3px;
}

.navigateContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 115px;
}

.location {
    color: white;
    font-size: 11px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    margin: 8px 0px 0px 15px;
    z-index: 100;
}

.location img {
    padding-right: 8px;
}

.copy {
  border: none;
  background: none;
  width: 3px;
  cursor: pointer;
}