.container {
  width: 100%;
  height: 230px;
  overflow: hidden;
  max-width: 430px;
}

.mapContainer {
  width: 100%;
  height: 264px;
}

.buttonContainer {
  position: absolute;
  z-index: 1;
  margin-top: 190px;
  width: 420px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.buttonContainerMobile {
  position: absolute;
  z-index: 1;
  margin-top: 190px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.buttonContainer img {
  height: 13px
}

.disabled {
  color: grey;
}

/* classes can share the same content */
.position, .navigate { 
  color: white;
  width: 45%;
  height: 32px;
  font-size: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.positionContent, .navigateContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 2px;

  border: none;
  background: none;
  cursor: crosshair;
  color: white;
}

.positionContent img {
  padding-left: 3px;
}

.navigateContentDisabled {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 2px;

  border: none;
  background: none;
  cursor: default;
}

.positionContent, .navigateContent p {
  width: 155px;
  text-align: center;
}

.navigateContentDisabled p {
  width: 140px;
  text-align: center;
  color: #565656;
}

.location {
  color: white;
  font-size: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  margin: 8px 0px 0px 15px;
  z-index: 100;
}

.location img {
  height: 20px;
  padding-right: 8px;
}

/* @media only screen and (max-width: 393px) {
  .position {
    color: white;
    width: 160px;
    height: 32px;
    font-size: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: 190px;
    margin-left: 10px;
    z-index: 100;
  }

  .positionContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 140px;
  }

  .positionContent img {
    height: 12px;
  }

  .navigate {
    color: white;
    width: 160px;
    height: 32px;
    font-size: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: 190px;
    margin-left: 200px;
    z-index: 100;
  }

  .navigate img {
    height: 100%;
    padding-left: 3px;
  }

  .navigateContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 115px;
  }
} */
