.ctaText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  font-size: 13px;
}

.ctaText p {
  margin: 0px;
}

.ctaTitle {
  padding-bottom: 10px;
  font-size: 20px;
}

.modalContent {
  height: 150px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding-top: 8px;
}

.info {
  height: 45px;
  width: 179px;
  border: 1.5px solid #222222;
  color: #222222;
  background-color: white;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  cursor: pointer;
}

.connect {
  height: 45px;
  width: 179px;
  border: none;
  color: white;
  background-color: #222222;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  cursor: pointer;
}

.container {
  padding: 15px 0px 20px 15px;
}