.container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}

.modalOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.modalBox {
  position: relative;
  width: 578px;
  height: auto;
  margin: 0 10%;
  box-sizing: border-box;
  background-color: white;
  cursor: auto;
}

.modalTopbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 578px;
  height: 41px;
  border-bottom: 1px;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-color: rgba(236, 236, 236);
  border-style: solid;
  font-size: 10px;
}

.modalClose {
  border: none;
  background-color: white;
}

.connectIcon {
  padding-left: 10px;
}

.connected {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.connected p {
  padding-top: 4px;
}

.modalClose img {
  width: 14px;
}

.connected p {
  padding-left: 4px;
  padding-bottom: 3px;
}

.mobileModalBox {
  position: relative;
  width: 396px;
  height: auto;
  margin: 0 10%;
  box-sizing: border-box;
  background-color: white;
  cursor: auto;
}

.mobileModalTopbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 396px;
  height: 41px;
  border-bottom: 1px;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-color: rgba(236, 236, 236);
  border-style: solid;
  font-size: 10px;
}