.container  {
    background-color: black;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.topBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 50px;
    padding: 15px;
}

.topBarRight{ 
    display: flex;
    flex-direction: row;
    align-items: center;
}

.topBarRight p {
    color: white;
    font-size: 10px;
    font-family: "Helvetica-Monospaced";
    padding-right: 15px;
}

.topBarRight img {
    width: 15px;
}

.topBarLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.topBarLeft p {
    color: white;
    font-size: 10px;
    font-family: "Helvetica-Monospaced";
    padding-left: 15px;
}

.topBarLeft img {
    width: 60px;
}

.close {
    border: none;
    background-color: rgb(0, 0, 0, 0);
    cursor: pointer;
    padding: 0px;
}

.pageContent {
    color: white;
    width: 30%;
    font-family: "Helvetica-Monospaced";
    font-size: 15px;
    padding-top: 80px;
}

@media screen and (max-width: 1024px) {
    .pageContent {
        width: 40%;
    }
}

@media screen and (max-width: 428px) {
    .pageContent {
        width: 80%;
        padding-top: 10px;
    }
}
