.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 179px;
    height: auto;
    margin: 22px 0px 24px 16px;
}

.connect {
    width: 179px;
    height: 45px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.connect img {
    width: 24px;
}

.connect p {
    padding-right: 10px;
}

.info {
    width: 179px;
    height: 45px;
    background-color: white;
    color: black;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1.5px solid #222222;
}